.wrapper-button{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
.button {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
    background-color: rgb(175, 25, 125)
}